[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"
httpx = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
